# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.venv/
env/

# Flask / database
instance/
*.db
*.sqlite
*.sqlite3

# Environment files
.env
.env.local

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Uploaded files
uploads/
*.pdf
*.docx

# Test/cache
.pytest_cache/
.mypy_cache/